@import "styles/scss/variables.scss";

.wraper {
    min-height: $main_column_height;
    box-shadow: 1px 2px 11px rgba(20, 38, 48, 0.15);
    text-align: center;
    // padding-top: 50px;
    padding: 15px 25px;
}

.genes {
    display: grid;
    grid-template-rows: 25;
    gap: 5px;

    .title {
        display: grid;
        grid-template-columns: 50px repeat(3, 1fr);
    }

    .gene {
        display: grid;
        grid-template-columns: 50px repeat(3, 1fr);
        gap: 5px;
        position: relative;
        .cell-group {
            display: flex;
            gap: 1px;
            .cell {
                transition: background-color .3s ease-in-out;
                width: 100%;
                height: 18px;
                background-color: $light_blue;
            }

        }
    }
}

.overflowed-cell {
    &::after {
        content: '';
        position: absolute;
        width: 14px;
        height: 18px;
        right: 0;
        background-color: red;
        transform: translateX(calc(100% + 1px));
    }
}
