<div class="wraper" cdkDropList id="property-list" [cdkDropListConnectedTo]="['property-types']"
    (cdkDropListDropped)="drop($event)" [ngClass]="{'col-reverse': !properties?.length}">

    <!-- <div class="" cdkDrag></div> -->
    <div class="list" *ngIf="formProperties.controls?.length">
        <div cdkDrag class="item" 
            *ngFor="let property of formProperties.controls; 
            let i = index;" 
            [cdkDragData]="'self'"
            (click)="onSelectProperty(getFormGroup(property))"
            [ngClass]="{'red-border': (property.dirty && selectedPropertyName != formGroupName(property))}"
            >

            <p class="truncate title">{{formGroupName(property)}}</p>
            <mat-icon (click)="deleteProperty(property)" [svgIcon]="'delete'"></mat-icon>
            <!-- <properties-form [property]="property"></properties-form> -->
        </div>
    </div>

    <div 
        ngx-dropzone 
        (change)="onSelect($event)"
        cdkDropList 
        id="drop-zone" 
        class="drop-zone">
        <span>Drag&Drop</span>
    </div>
    <!-- <ngx-dropzone (change)="onSelect($event)" class="drop-zone">

    </ngx-dropzone> -->


</div>