<div class="wraper" cdkDropList id="property-list" [cdkDropListConnectedTo]="['property-types']"
    (cdkDropListDropped)="drop($event)" [ngClass]="{'col-reverse': !properties?.length}">

    <!-- <div class="" cdkDrag></div> -->
    <div class="list" *ngIf="formProperties.controls?.length">
        <div cdkDrag class="item" 
            *ngFor="let property of formProperties.controls; 
            let i = index;" 
            [cdkDragData]="'self'"
            (cdkDragDropped)="onDrop($event)"
            (cdkDragStarted)="dragStart($event)"
            (click)="onSelectProperty(getFormGroup(property))"
            [ngClass]="{'red-border': (property.dirty && property.invalid)}">

            <div cdkDragHandle class="drag-handle">
                <mat-icon>reorder</mat-icon>
            </div>

            <div class="title-wrapper">
                <p class="truncate title">{{formGroupName(property)}}</p>
                <p *ngIf="formGroupId(property)" class="truncate sub-title">ID: {{formGroupId(property)}}</p>
            </div>
            
            <div class="icon">
                <mat-icon (click)="deleteProperty(property)" [svgIcon]="'delete'"></mat-icon>
            </div>
            <!-- <properties-form [property]="property"></properties-form> -->
        </div>
    </div>

    <div 
        ngx-dropzone 
        (change)="onSelect($event)"
        accept=".json"
        cdkDropList 
        id="drop-zone" 
        class="drop-zone">
        <span>Drag&Drop</span>
    </div>
    <!-- <ngx-dropzone (change)="onSelect($event)" class="drop-zone">

    </ngx-dropzone> -->


</div>