<div class="wraper" cdkDropList id="property-list" [cdkDropListConnectedTo]="['property-types']"
    (cdkDropListDropped)="drop($event)" [ngClass]="{'col-reverse': !properties?.length}">

    <!-- <div class="" cdkDrag></div> -->
    <div class="list" *ngIf="properties?.length">
        <div cdkDrag class="item" *ngFor="let property of properties; let i = index;" 
            (click)="selectProperty(property)"
            [cdkDragData]="'self'"
            [ngClass]="{'red-border': ((property.description == propertiesValidity![i].formName) && propertiesValidity![i].valid == false)}">

            <p class="truncate title">{{property.description}}</p>
            <mat-icon (click)="deleteProperty(property)" [svgIcon]="'delete'"></mat-icon>
            <!-- <properties-form [property]="property"></properties-form> -->
        </div>
    </div>

    <div 
        ngx-dropzone 
        (change)="onSelect($event)"
        cdkDropList 
        id="drop-zone" 
        class="drop-zone">
        <span>Drag&Drop</span>
    </div>
    <!-- <ngx-dropzone (change)="onSelect($event)" class="drop-zone">

    </ngx-dropzone> -->


</div>