@import 'styles/scss/variables.scss';


.assets {
    display: flex;
    margin-bottom: 40px;
    gap: 8px;
}

.main-content {
    min-height: $main_column_height;
    display: flex;
    gap: 15px;

    .list {
        width: 32%;
        // min-width: 25%;
    }
    .form {
        width: 34%;
        min-width: 37.5%;
    }
    .genes {
        width: 34%;
        min-width: 37.5%;
    }
}