<div class="wrapper">
    <div class="assets">
        <asset-types (selectTypeEvent)="selectTypeAssetEvent($event)"></asset-types>


        <choose-template class="choose-template"></choose-template>

    </div>

    <div class="mt-2">
        <property-types></property-types>
    </div>
    <div class="main-content">

        <div class="list">
            <property-list></property-list>
        </div>

        <div *ngIf="mode != 'small'" @fade-in class="form">
            <properties-form></properties-form>
        </div>

       <ng-container *ngIf="mode == 'small' && showGenes == false">

        <div @fade-in class="overlay" (click)="showGenes = true"></div>
        <div @fade-in class="content">
            <div class="form">
                <properties-form></properties-form>
            </div>
        </div>
       </ng-container>

        <div *ngIf="(mode == 'large' || showGenes == true) || mode == 'small'" @fade-in class="genes">
            <genes-preview></genes-preview>
        </div>


    </div>

    <!-- <div class="row"> -->
        <json-preview></json-preview>
    <!-- </div> -->

</div>