<div class="wrapper">
    <div class="assets">
        <asset-types (selectTypeEvent)="selectTypeAssetEvent($event)"></asset-types>


        <choose-template class="choose-template"></choose-template>

    </div>

    <div class="mt-2">
        <property-types></property-types>
    </div>
    <div class="main-content">

        <div class="list">
            <property-list></property-list>
        </div>
        <div *ngIf="toggleActive == false || showGenes == false" @fade-in class="form">
            <properties-form></properties-form>
        </div>
        <div *ngIf="toggleActive == false || showGenes == true" @fade-in class="genes">
            <genes-preview></genes-preview>
        </div>

    </div>

    <!-- <div class="row"> -->
        <json-preview></json-preview>
    <!-- </div> -->

</div>