@import 'styles/scss/variables.scss';


.assets {
    display: flex;
    margin-bottom: 40px;
    gap: 8px;
}

.main-content {
    min-height: $main_column_height;
    display: flex;
    gap: 15px;
    min-height: 600px;

    .list {
        width: 32%;
        // height: 100%;
    }
    .form {
        width: 40%;
        min-width: 37.5%;
        // height: 100%;

    }
    .genes {
        // height: 100%;

        width: 28%;
        min-width: 37.5%;
    }
}