<div class="wraper">
    <ng-container *ngIf="property">
        <form [formGroup]="propertyForm">
            <div class="row">
                <div class="col-md title">
                    {{property.description}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md">
                    <strong>Type:</strong> {{property.type}}
                </div>
            </div>
            <div class="separator mt-2"></div>
            <div class="row mt-4">
                <mat-form-field class="w-full">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error *ngIf="propertyForm.get('description')!.hasError('required')">Required field</mat-error>
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearField('description')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-form-field>

            </div>
            <div class="row mt-2">
                <mat-form-field class="w-full">
                    <mat-label>ID</mat-label>
                    <input matInput type="text" formControlName="id">
                    <mat-error *ngIf="propertyForm.get('id')!.hasError('required')">Required field</mat-error>
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearField('id')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row  mt-2">
                <mat-form-field class="w-full">
                    <mat-label>Gene</mat-label>
                    <input matInput type="number" formControlName="gene">
                    <mat-error *ngIf="propertyForm.get('gene')!.hasError('required')">Required field</mat-error>
                    <mat-error *ngIf="propertyForm.get('gene')!.hasError('min')">Value should be mor then 0</mat-error>
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearField('gene')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row  mt-2">
                <mat-form-field class="w-full">
                    <mat-label>Offset</mat-label>
                    <input matInput type="number" formControlName="offset">
                    <mat-error *ngIf="propertyForm.get('offset')!.hasError('required')">Required field</mat-error>
                    <mat-error *ngIf="propertyForm.get('offset')!.hasError('min')">Value should be mor then
                        0</mat-error>
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearField('offset')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row  mt-2">
                <mat-form-field class="w-full">
                    <mat-label>Length</mat-label>
                    <input matInput type="number" [readonly]="disableLength" formControlName="length">
                    <mat-error *ngIf="propertyForm.get('length')!.hasError('required')">Required field</mat-error>
                    <mat-error *ngIf="propertyForm.get('length')!.hasError('min')">Value should be mor then
                        0</mat-error>
                    <button [disabled]="disableLength" matSuffix mat-icon-button aria-label="Clear"
                        (click)="onClearField('length')">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Enum type form -->
            <ng-container *ngIf="type =='enum'" formArrayName="values">
                <div class="separator mt-2"></div>
                <div class="row mt-4" *ngFor="let item of valuesFormArray.controls; let i = index" [formGroupName]="i">
                    <div class="col-md-3">
                        <mat-form-field class="w-full">
                            <mat-label>Value</mat-label>
                            <input matInput type="text" formControlName="value">
                            <mat-error *ngIf="item.get('value')!.hasError('required')">Field
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-7">
                        <mat-form-field class="w-full">
                            <mat-label>Key</mat-label>
                            <input matInput type="text" formControlName="key">
                            <mat-error *ngIf="item.get('key')!.hasError('required')">Field
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 deleteBtn">
                        <img src="assets/images/svg/delete.svg" alt="icon"
                            (click)="$event.stopPropagation(); ondeleteValue(i)">
                    </div>

                </div>

            </ng-container>

            <!-- ---------------- -->
            <!-- Range type form -->
            <ng-container *ngIf="type =='range'" formArrayName="values">
                <div class="separator mt-2"></div>
                <div class="row mt-4" *ngFor="let item of valuesFormArray.controls; let i = index" [formGroupName]="i">
                    <div class="col-md-3">
                        <mat-form-field class="w-full">
                            <mat-label>min</mat-label>
                            <input matInput type="number" formControlName="min">
                            <mat-error *ngIf="item.get('min')!.hasError('required')">Field
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-full">
                            <mat-label>max</mat-label>
                            <input matInput type="number" formControlName="max">
                            <mat-error *ngIf="item.get('max')!.hasError('required')">Field
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="w-full">
                            <mat-label>key</mat-label>
                            <input matInput type="text" formControlName="key">
                            <mat-error *ngIf="item.get('key')!.hasError('required')">Field
                                required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 deleteBtn">
                        <img src="assets/images/svg/delete.svg" alt="icon"
                            (click)="$event.stopPropagation(); ondeleteValue(i)">
                    </div>

                </div>

            </ng-container>
        </form>
        <!-- --------------- -->

        <div class="row mt-2" *ngIf="type === 'enum' || type === 'range'">
            <div class="add_value_row">
                <button type="button" class="btn add_value_btn" (click)="onAddValue()">+Add Value</button>
            </div>
        </div>



        <!-- Boolean type form-->
        <form [formGroup]="booleanValuesForm" *ngIf="type =='boolean'">
            <div class="separator mt-2"></div>
            <div class="col-md">
                <div class="row">
                    <mat-form-field class="w-full">
                        <mat-label>Negative Value</mat-label>
                        <input matInput type="text" formControlName="negative_value">
                        <mat-error *ngIf="booleanValuesForm.get('negative_value')!.hasError('required')">Field
                            required</mat-error>
                        <button matSuffix mat-icon-button aria-label="Clear"
                            (click)="onClearField('negative_value', 'booleanValuesForm')">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="w-full">
                        <mat-label>Positive Value</mat-label>
                        <input matInput type="text" formControlName="positive_value">
                        <mat-error *ngIf="booleanValuesForm.get('positive_value')!.hasError('required')">Field
                            required</mat-error>
                        <button matSuffix mat-icon-button aria-label="Clear"
                            (click)="onClearField('positive_value', 'booleanValuesForm')">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <!-- --------------- -->

        <div class="confirm_btn_row">
            <button type="button" [disabled]="!this.propertyForm.valid" class="btn btn-warning"
                (click)="onConfirm()">Confirm</button>
        </div>

    </ng-container>

    <ng-container *ngIf="!property">
        <div class="empty_form_placeholder">
            <p>Add one property</p>
            <p>or select</p>
        </div>
    </ng-container>

</div>