
<div class="wrapper">
    <div class="title">
        <p>Add new property</p>
    </div>
    <div class="buttons" cdkDropList id="property-types" [cdkDropListConnectedTo]="['property-list', 'drop-zone']">
        <button 
        cdkDrag
        (cdkDragDropped)="drop($event)"
        (cdkDragStarted)="dragStart($event)"
        [cdkDragData]="prop"
            class="totem-button" 
            *ngFor="let prop of properties"
            (click)="addProperty(prop)">{{prop | mapProperty}}
        </button>
    </div>
</div>
<!-- <div class="row dna_container">
    <div class="row">
        <div class="label">Add new property</div>
    </div>
    <div class="row">
        <div class="col-md-1 button" *ngFor="let item of properties" (click)="onSelectProperty(item)">{{item}}</div>
    </div>

</div> -->