<!-- <form *ngIf="selectedForm" [formGroup]="selectedForm" class="wrapper">
    <div *ngIf="selectedForm.get('description')?.value" class="title">
        <h2>{{selectedForm.get('description')?.value}}</h2>
        <p>Type: <span>{{type | mapProperty}}</span></p>
    </div>

    <ng-container *ngFor="let item of selectedForm.value | keyvalue">
        <property-field
            [formControlName]="item.key" 
            [title]="item.key"
            (valueChanges)="controlValueChanges($event)"
            >

        </property-field>
    </ng-container>
</form> -->

<form class="wrapper" [formGroup]="propertiesForms">
    <ng-container *ngIf="!propertiesForms.controls">
        <span class="placeholder">Add one property for select</span>
    </ng-container>
    
    <ng-container *ngIf="propertiesForms.controls">
        <form class="content" *ngFor="let form of propertiesForms.controls | keyvalue" [formGroup]="form.value"
            [ngClass]="form.key == selectedFormName ? 'flex': 'hidden'">

            <div class="title">
                <h2>{{form.key}}</h2>
                <p>Type: <span>{{type | mapProperty}}</span></p>
            </div>

            <ng-container *ngFor="let control of getFormControls(form.value) | keyvalue">
                <property-field *ngIf="control.key != 'values' && control.key != 'type'" [parentName]="form.key"
                    [formControl]="getFormControl(control.value)" [title]="control.key"
                    (valueChanges)="controlValueChanges($event)">
                </property-field>
            </ng-container>
        </form>
    </ng-container>
</form>