@import "styles/scss/variables.scss";

.wrapper {
    display: flex;
    box-shadow: 1px 2px 11px rgba(20, 38, 48, 0.15);
    width: 100%;
    height: 100%;
}
.bool-values {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.content {
    overflow: scroll;
    padding: 20px 40px;

    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 25px;

    .title {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $light_grey;
        // margin-bottom: 15px;

        span {
            font-weight: 400 !important;
        }
    }
}
.values-form {
    display: flex;
    gap: 10px;
}
.property-wrapper {
    display: flex;
    flex-direction: column;
    // gap: 10px;
}
.values-wrapper {
    display: flex;
    gap: 10px;
    // flex-direction: column;
    // display: flex;
    // width: 100%;
    // gap: 10px;
}
.error {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 31px;
    color: red;
    padding-left: 8px;
}
.add-value {
    min-height: 48px;
    height: 48px;
    border: 1px dashed $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.w-full {
    width: 100%;
}



// .wraper {
//     min-height: $main_column_height;
//     box-shadow: 1px 2px 11px rgba(20, 38, 48, 0.15);
//     position: relative;
//     padding: 21px 40px;
//     // overflow-y: auto;
//     overflow-x: hidden;
//     .title {
//         font-size: 32px;
//         font-weight: 500;
//     }
//     .separator {
//         width: 100%;
//         border-top: 1px solid $grey;
//     }
//     .empty_form_placeholder {
//         width: 100%;
//         margin-top: ($main_column_height / 2) - 100;
//         text-align: center;
//         color: $middle_grey;
//     }
//     .confirm_btn_row,
//     .add_value_row {
//         display: flex;
//         justify-content: center;
//     }
//     .add_value_row {
//         border: 1px dashed $grey !important;
//         .add_value_btn {
//             width: 100%;
//         }
//     }
//     .deleteBtn {
//         margin-top: 15px;
//         // display: flex;
//         // flex-direction: column;
//         // justify-content: center;
//         img {
//             cursor: pointer;
//             width: 24px;
//         }
//     }
// }
