<div class="wrapper">
    <ng-container *ngIf="objectLength(formGroup.controls) == 0">
        <span class="empty_form_placeholder">Add one property <br> for select</span>
    </ng-container>
    <form *ngIf="objectLength(formGroup.controls) != 0" class="content" [formGroup]="formGroup">

        <div class="title">

            <div *ngIf="description" class="desc-wrapper">
                <h2>{{description}}</h2>
                <mat-icon (click)="onClickArrow()" class="arrow" [svgIcon]="'arrow_left'"></mat-icon>
            </div>
            <p>Type: <span>{{type | mapProperty}}</span></p>
        </div>
        <ng-container *ngFor="let property of formGroup.controls | keyvalue: customSort">
            <!-- Default -->
            <div class="property-wrapper" *ngIf="property.key != 'type' && property.key != 'values'">
                <property-field 
                    [formControl]="property.value" 
                    [title]="property.key"
                    [type]="type"
                    [parentName]="property.key"
                    [disabledForm]="property.key == 'length' && (type == 'map' || type == 'bool' || type == 'range')"
                    (valueChanges)="controlValueChanges($event)">

                </property-field>

                <span @showError class="error"
                    *ngIf="formControl(property.value).errors && formControl(property.value).dirty">{{getErrors(property.value)}}</span>
            </div>

            <div class="bool-values"  *ngIf="type == 'bool' && property.key == 'values'">
                <div class="prop" *ngFor="let formValue of formArray(property.value).controls; let i = index;">
                    <ng-container>
                        <property-field class="w-full"
                        [title]="i == 0 ? 'negative' : 'positive'" [type]="type" [parentName]="property.key"
                        [formControl]="formValue" (valueChanges)="controlValueChanges($event)">

                    </property-field>
                    <span @showError class="error" *ngIf="formValue.errors && formValue.dirty">{{getErrors(formValue)}}</span>
                    </ng-container>
                </div>
            </div>


            <!-- Map -->
            <ng-container *ngIf="property.key == 'values' && type == 'map'">
                <ng-container *ngFor="let formGroup of formArray(property.value).controls">

                    <div class="property-wrapper">
                        <div class="values-form">
                            <value-field [type]="type" [formControl]="formControlValues(formGroup, 'value')"></value-field>

                            <property-field 
                                [formControl]="formControlValues(formGroup, 'key')" 
                                [title]="'Key Name'"
                                [type]="type"
                                [parentName]="property.key"
                                class="w-full"
                                (valueChanges)="controlValueChanges($event)">
                            </property-field>
                        </div>
                        <span @showError class="error"
                        *ngIf="childrenErrors(formGroup)">{{childrenErrors(formGroup)}}</span>
                    </div>

                </ng-container>
            </ng-container>

            <!-- Range -->
            <ng-container *ngIf="property.key == 'values' && type == 'range'">
                <ng-container *ngFor="let formGroup of formArray(property.value).controls">

                    <div class="property-wrapper">
                        <div class="values-form">
                            <div class="values-wrapper">
                                <ng-container *ngFor="let control of formControlValues(formGroup, 'value').controls; let i = index;">
                                    <value-field
                                        *ngIf="i == 0"
                                        [formControl]="control"
                                        (valueChanges)="controlValueChanges($event)"
                                        >
                                    </value-field>
                                    <value-field
                                        *ngIf="i == 1"
                                        [formControl]="control"
                                        (valueChanges)="controlValueChanges($event)"
                                        >
                                    </value-field>
                                </ng-container>
                            </div>

                            <property-field [formControl]="formControlValues(formGroup, 'key')" [title]="'Key Name'"
                                class="w-full"
                                (valueChanges)="controlValueChanges($event)"
                                [type]="type">
                            </property-field>
                        </div>
                        <span @showError class="error"
                        *ngIf="childrenErrors(formGroup)">{{childrenErrors(formGroup)}}</span>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

        <div class="add-value" *ngIf="type == 'range' || type == 'map'" (click)="addValues(type)">
            <span>+Add value</span>
        </div>


    </form>
</div>