@import "scss/reset-default-styles.scss";
@import "scss/fonts.scss";
@import "scss/material.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
