<div class="wraper">
    <div class="row mb-2 justify-content-between">
        <div class="col-md-2">
            <span class="title">JSON</span>
        </div>
        <div class="col-md-1">
            <div class="row justify-content-end">
                <div class="col-md-6 d-flex justify-content-end"
                    matTooltip="Copy JSON to Clipboard"
                    [matTooltipPosition]="'above'"
                >
                    <span class="copy_btn" [cdkCopyToClipboard]="jsonForClipboard">
                        <img src="assets/images/svg/content_copy.svg" alt="">
                    </span>
                </div>
                <div class="col-md-6 d-flex justify-content-end" 
                    matTooltip="Download Json File"
                    [matTooltipPosition]="'above'"
                >
                    <a [href]="jsonUrl" download="file.json">
                        <span>
                            <img src="assets/images/svg/download.svg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row json_wraper">
        <div class="row">
            [
        </div>
        <div class="row mt-2" *ngFor="let item of propertyListForDisplay">
            <div class="col-md">
                {{item}}
            </div>
        </div>
        <div class="row">
            ]
        </div>
    </div>
</div>