<div class="wraper">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md title">
                        DNA Constructor
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text">
                        <p>The Totem platform was built to empower indie developers to create amazing interconnected
                            games,
                            and also be able to monetize off of them using a fair and transparent model. We are a
                            community
                            of 200+ tribe members, the majority of which are indie game creators, collaborating to bring
                            a
                            new type of gaming to life.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 logo">
                <img src="/assets/images/svg/header_logo.svg" alt="">
            </div>
        </div>
    </div>
</div>