@import "styles/scss/variables.scss";

.wraper {
    background-color: $yellow;
    margin-bottom: 10px;
    .container {
        .titel-wr {
            display: flex;
            justify-content: center;
            .title {
                padding-bottom: 40px;
                padding-top: 40px;
                white-space: nowrap;
                font-family: "Totem";
                text-transform: uppercase;
                font-size: 36px;
                @media screen and (max-width: 500px) {
                    font-size: 24px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
        .text {
            font-family: "Roboto-small";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: $black;
        }
        .logo {
            img {
                height: 160px;
            }
        }
    }
}

.sub-title {
    font-size: 14px;
}
