@import "styles/scss/variables.scss";

.wraper {
    background-color: $yellow;
    margin-bottom: 10px;
    .container {
        padding: 20px 12px;
        .title {
            font-family: "Totem";
            text-transform: uppercase;
            font-size: 48px;
            padding: 25px 12px;
        }
        .text {
            font-family: "Roboto-small";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: $black;
        }
        .logo {
            img {
                height: 160px;
            }
        }
    }
}
