
<div class="wrapper" *ngIf="!disabledForm">
    <span class="label">{{title}}</span>
    <input 
        [formControl]="control" 
        type="text" 
        [placeholder]="type == 'bool' ? 'value' : title"
        [ngClass]="{'ng-invalid':control.invalid,'ng-valid':control.valid}">

    <mat-icon (click)="onClear()" [svgIcon]="'cancel'"></mat-icon>
</div>

<div class="wrapper" *ngIf="disabledForm">
    <span class="label">{{title}}</span>
    <input class="events-none" [formControl]="control" type="text" [placeholder]="'0'">
</div>