@import 'styles/scss/variables';

.wrapper {
    height: 48px;
    border: 1px solid $black;
    width: 100%;
    padding: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border .3s;


    mat-icon {
        display: flex;
    }
    .label {
        padding: 0 5px;
        position: absolute;
        text-transform: capitalize;
        top: 0;
        left: 9px;
        transform: translateY(-60%);
        background-color: $white;
    }
}

:host.ng-invalid.ng-dirty .wrapper {
    border: 1px solid red !important;
}

input {
    outline: none;
    border: none;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.disabled-wrapper {
    height: 48px;
    border-bottom: 1px solid $blue;
    width: 100%;
    // padding-top: 12px;
    padding-bottom: 12px;

    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    input {
        pointer-events: none;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
    }
}