@import "styles/scss/variables.scss";

.content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .copy {
        margin-left: auto;
    }
    .donwload {
        margin-left: 15px;
    }
}
.wraper {
    width: 100%;
    min-height: 100px;
    margin-top: 50px;
    padding-bottom: 100px;
    .title{
        font-size: 24px;
        font-weight: 500;
    }
    .download {
        cursor: pointer;
    }
    .json_wraper {
        width: 100%;
        overflow: auto;
        border: 2px solid $border_color;
        padding: 15px;
        background-color: $bacground_json_color;
        max-height: 500px;
    }
    .copy_btn{
        cursor: pointer;
    }

    img {
        width: 24px;
        height: 24px;
    }
}
