@import 'styles/scss/variables.scss';
.wrapper{
    background-color: $light_grey;
    width: 100%;
    height: 56px;
    display: flex;
    .title{
        font-family: 'Totem';
        text-transform: uppercase;
        text-align: center;
        padding: 0 40px;
        display: flex;
        align-items: center;
        cursor: pointer;

        transition: background-color .3s ease-in-out;
        background-color: transparent;
        
        &:hover{
            background-color: $grey;
        }

        @media screen and (max-width: 700px) {
            padding: 0 20px;
            flex-grow: 1;
            justify-content: center;
        }
    }
    .active{
        background-color: $grey;
    }

    @media screen and (max-width: 500px) {
        justify-content: center;
    }
}
:host {
    width: 100%;
}
