<div class="wraper">
    <p>Coming soon...</p>
    <div class="genes">
        <div class="title">
            <span>Gene</span>
            <span class="text-end">8</span>
            <span class="text-end">16</span>
            <span class="text-end">24</span>
            <span class="text-end">32</span>

        </div>

        <div class="gene" *ngFor="let gene of genes; let i = index">
            <span>{{i}}</span>
            <div class="cell-group" *ngFor="let _ of [].constructor(4); let j = index">
                <div class="cell"  
                    *ngFor="let _ of [].constructor(8); let k = index"
                    [attr.background-color] = "genes[1][1]">

                </div>
            </div>
        </div>
    </div>
</div>