<div class="container">
    <div class="row mt-2">
        <div class="col-md-8">
            <select-type-asset (selectTypeEvent)="selectTypeAssetEvent($event)"></select-type-asset>
        </div>
        <div class="col-md-4">
            <app-choose-template></app-choose-template>
        </div>
    </div>
    <div class="row mt-2">
        <property-types (addProperty)="addProperty($event)"></property-types>
    </div>
    <div class="row mt-4 column_wraper">
        <div class="col-md-3">
            <app-property-list
            [propertyList]="propertyList"
            (onDeleteProperty)="onDeleteProperty($event)"
            (onSelectProperty)="onSelectProperty($event)"
            ></app-property-list>
        </div>
        <div class="col-md-5">
            <properties-form 
            ></properties-form>
        </div>
        <div class="col-md-4">
            <genes-preview></genes-preview>
        </div>
    </div>
    <div class="row">
        <json-preview [propertyList]="propertyList"></json-preview>
    </div>

</div>