<div class="container">
    <div class="assets">
        <div class="col-md-8">
            <asset-types (selectTypeEvent)="selectTypeAssetEvent($event)"></asset-types>
        </div>
        <div class="col-md-4">
            <app-choose-template></app-choose-template>
        </div>
    </div>

    <div class="row mt-2">
        <property-types></property-types>
    </div>
    <div class="main-content">

        <div class="list">
            <property-list></property-list>
        </div>
        <div class="form">
            <properties-form 
            ></properties-form>
        </div>
        <div class="genes">
            <genes-preview></genes-preview>
        </div>

    </div>

    <div class="row">
        <json-preview></json-preview>
    </div>

</div>