@import 'styles/scss/variables.scss';
.wraper{
    min-height: $main_column_height;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px dashed $grey;
    .propertyItem{
        padding: 14px;
        background-color: $light_grey;
        font-weight: bold;
        cursor: pointer;
    }
    .active{
        background-color: $grey;
    }
}

