
.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.totem-button {
    background-color: $yellow;
    padding: 10px 30px;
    border: none;
    outline: none;
    text-transform: capitalize;
}