
$white: white;
$yellow: #ffd011;
$yellow_hover: #F4CA16;
$black: #142630;
$grey: #BFDCEA;
$light_grey: #ECF4FF;
$middle_grey: #BFDCEA;
$border_color: #9ebbcb;
$bacground_json_color: #BFDCEA;

$blue: #BFDCEA;
$light_blue: #DEECFF;

$main_column_height: 600px;
